* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1:5 {
  background: rgba(178,178,178,0.7599999904632568);
  width: 785px;
  height: 175px;
}
.v1:5 {
  background: rgba(178,178,178,0.7599999904632568);
  width: 785px;
  height: 175px;
}
